body {
  background-color: #04a6eb;
  color: #fdffff;
  width: 380px;
  margin-right: auto;
  margin-left: auto;
}
button{
  padding: 5px 20px;
  background-color: #3e90d7;
  border-style: none;
  color: #fdffff;
}
input{
  height: 20px;
}